@import './fonts.scss';

body {
  padding: 0;
  margin: 0;
}

* {
  font-family: Gilroy, sans-serif;
  font-weight: bold;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  color: #1e1e1e;
  margin: 0;
  padding: 0;
}

img {
  pointer-events: none;
}
